* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  font-size: 15px;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #321332;
}

.no_cursor, .no_cursor * {
  cursor: none !important;
}

#game {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 32px rgba(50, 19, 50, 0.8);
  /* color: #BB007D;
  color: rgb(187, 0, 125); */
}

.bg {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  filter: blur(100px);
}

.dpad,
.btns {
  z-index: 3;
  position: absolute;
  width: 150px;
  height: 150px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;

  display: none;
}

.virtual .dpad,
.virtual .btns {
  opacity: 1;
  visibility: visible;
}

.dpad > div,
.btns > div {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #333;
}

.up {
  top: 0;
  left: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ri {
  top: 50px;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.do {
  bottom: 0;
  left: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.le {
  top: 50px;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.center {
  top: 50px;
  left: 50px;
}

.a,
.b,
.x,
.y {
  border-radius: 100%;
  font-family: monospace;
}

.a {
  bottom: 0;
  left: 50px;
}

.b {
  top: 50px;
  right: 0;
}

.x {
  top: 50px;
  left: 0;
}

.y {
  top: 0;
  left: 50px;
}

.record {
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.65);
  overflow: hidden;
  /* display: flex; see below */
  display: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transform: scale(0);
  font-family: monospace;
  font-size: 10px;
  font-weight: bold;

  transition: transform 1s;
}

.record.ready {
  transform: scale(1);
}

.record .circle {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: rgb(235, 0, 0);
  border-radius: 100%;
  flex-shrink: 0;

  transition: background-color 1s;
}

.record .label {
  transition: width 1.5s;
  width: 0px;
  overflow: hidden;
}

.record.recording,
.record.transcoding {
  width: 120px;
}

.record.recording .label,
.record.transcoding .label {
  width: 150px;
}

@keyframes transcode {
  from {
    background-color: rgb(0, 0, 235);
  }
  to {
    background-color: rgb(150, 150, 235);
  }
}

.record.recording .circle {
  background-color: rgba(0, 235, 0);
}

.record.transcoding .circle {
  animation-name: transcode;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.preloader {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  transition: transform 0.25s, opacity 0.25s, visibility 0.25s;
}

.preloader.off {
  transform: scale(1.3);
  opacity: 0;
  visibility: hidden;
}

.preloader .contents {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.preloader-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow-y: hidden;
  padding: 10px;
  overflow: hidden;
}

.preloader-bg p {
  font-size: 18px;
  margin: 0;
  font-family: monospace;
  color: #fff;
  opacity: 0.1;
}

.preloader img {
  width: 64px;
  height: 64px;
  image-rendering: pixelated; 
}

.preloader .progress {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0;
}

.preloader .percent {
  width: 38px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bolder;
  color: #b3eaee;
}

.preloader .bar-out {
  flex: 1;
  height: 8px;
  border: solid 1px #b3eaee;
  border-radius: 4px;
  overflow: hidden;
}

.preloader .bar {
  height: 8px;
  background-color: #b3eaee;

  transition: width 0.4s;
}

.preloader select {
  margin-bottom: 5px;
  background-color: #b3eaee;
}

.preloader button {
  color: #000;
  background-color: #b3eaee;
  font-size: 16px;
  border: 0;
  padding: 8px 32px;
  border-radius: 8px;
  cursor: pointer;
}

@media (orientation: portrait) {
  .dpad {
    top: 60%;
    left: 0;
  }

  .btns {
    top: 60%;
    right: 0;
  }
}

@media (orientation: landscape) {
  .dpad {
    top: 35%;
    left: 0;
  }

  .btns {
    top: 35%;
    right: 0;
  }
}

.preloaded .dpad,
.preloaded .btns {
  display: initial;
}

.preloaded .record {
  display: initial;
}